<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SHEBER</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      background: linear-gradient(to bottom, #9bb0ee, #928dab);
      color: #fff;
    }
    h1 {
      text-transform: uppercase;
    }
  </style>
</head>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Autorization</button>
  <button type="button" class="btn btn-warning">Contacts</button>
  <button type="button" class="btn btn-success">About</button>
</div>


<body>
  <h1><em>SHEBER.KZ</em></h1>
  <p>Welcome to new World</p>
</body>
</html>