<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SHEBER</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      background: linear-gradient(to bottom, #9bb0ee, #928dab);
      color: #fff;
    }
    h1 {
      text-transform: uppercase;
    }
  </style>
</head>
<!-- <nav> <a href="/">Title</a><a href="/contan">contan</a><a href="about us">about us</a><a href="address">address</a></nav> -->
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="/registration"><button type="button" class="btn btn-danger">Registration</button></a> 
  <a href="/contacts"><button type="button" class="btn btn-warning">Contacts</button></a>
  <a href="/about-us"><button type="button" class="btn btn-success">About</button></a>
  
  
</div>


<body>

  <h1><em>SHEBER.KZ</em></h1>
  <p>Welcome</p>
</body>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</html>